@mixin font_color($color)
    color: $color

@mixin font_size($size)
    font-size: $size

@mixin bg_color($color)
    background: $color
    color: #fff
    border-radius: 5px
    font-size: 1rem
    padding: .7rem
    
.txt-dark-black
    @include font_color($dark-black)
.txt-lite-black
    @include font_color($lite-black)
.txt-purple
    @include font_color($purple)

.border-black
    border: 1px solid $lite-black

.border-wrong
    @include bg_color($red)
.border-correct
    @include bg_color($green)

.txt-sm
    @include font_size(1.25rem)
.txt-md
    @include font_size(1.6rem)
.txt-lg
    @include font_size(2.25rem)    

.txt-center
    text-align: center

.sm-btm
    margin-bottom: 1rem

.md-btm
    margin-bottom: 2rem

.full
    width: 100%

.purp-bg
    @include bg_color($purple)