.txt-dark-black
    color: $dark-black
.txt-lite-black
    color: $lite-black
.border-black
    border-color: $lite-black
.border-wrong
    border-color: $red
.border-correct
    border-color: $green

.tx-md
    font-size: 1.6rem
.tx-lg
    font-size: 2.25rem

.tx-center
    text-align: center